[Unit]
Description=Vacation Notifier automatic package updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/vacation-notifier-updater
