[Desktop Entry]
Name=Vacation Notifier
Comment=Vacation registry notifications client
Exec=/usr/bin/vacation-notifier
Terminal=false
Type=Application
Categories=Office;
X-GNOME-Autostart-enabled=true
